@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #FF4800;
    --cor-secundaria: #F2F2F4;
    --cor-branco: #fff;
    --cor-cinzaescuro: #343a40;
    --cor-laranja: #fd7e14;
    --cor-preta: #1f1f2e;
    --cor-full-preto: #000;
    --cor-cinza: #6c757d;

    --font-primaria: 'Poppins', sans-serif;
}

.body{
    background-color: var(--cor-branco);
}

.cabecalho {
    display: flex;
    background-color: var(--cor-branco);
    justify-content: space-between;
    align-items:center;
    padding: 0% 3%;
}

.bi {
    margin-right: 10px;
    width: 3rem;
    color: var(--cor-primaria);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.cabecalho__titulo {
    font-weight: 900;
    color: var(--cor-primaria);
}

.cabecalho__meio {
    align-self: center;
}

.nav-item .nav-link {
    color: var(--cor-cinzaescuro);
    font-weight: 600;
    font-size: 0.8rem;
}

.nav-item .nav-link:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    height: auto;
    transition: 0.2s;
}

.botao {
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    border: var(--cor-primaria) solid 1px;
    padding: 5px 15px;
    font-size: 0.8rem;
}

.hero {
    background-image: url(imagens/header.jpg);
    background-size: cover;
    height: 21.5rem;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.hero__titulo3 {
    color: var(--cor-primaria);
    font-size: 1.8rem;
    font-weight: 800;
    align-self: center;
    margin-top: 5%;
}

.hero__titulo1 {
    color: var(--cor-branco);
    font-size: 3rem;
    font-weight: 800;
    align-self: center;
    margin-top: 1%;
}

.hero .hero__form {
    align-self: center;
    margin-top: 2%;
}

.btn-label {
    padding: 0.5rem 1rem ;
}

.input-group {
    display: flex;
    background-color: var(--cor-branco);
}

.form__container {
    display: flex;
    width: 60%;
    margin: auto;
}

.form {
    margin-top: 2rem;
}

.form__subtitle {
    margin-top: 2rem;
    color: var(--cor-primaria);
    font-weight: 900;
    font-size: 0.8rem;
}

.form__title {
    color: var(--cor-preta);
    font-weight: 800;
}

.form__text {
    color: var(--cor-cinza);
    text-align: justify;
    font-size: 0.8rem;
}

.form__card {
    width: 70%;
    margin-right: 2rem;
}

.card h3 {
    color: var(--cor-primaria);
    font-weight: 900;
}

.card h5 {
    font-size: 0.8rem;
    color: var(--cor-preta);
    font-weight: 900;
}

.form__card .card-body, .form__card .card-body .card, .form {
    background-color: var(--cor-secundaria);
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.cards .card {
    border: none;
}

.form form {
    background-color: var(--cor-primaria);
    margin-top: 0%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-10 .form-control {
    font-size: 0.8rem;
    border-radius: 0%;
    width: 14rem;
}

.col-10 .form-select {
    font-size: 0.8rem;
    border-radius: 0%;
    width: 14rem;
    color: var(--cor-cinza);
}

.col-10 .form__btn {
    border-radius: 0%;
    background-color: var(--cor-preta);
    font-size: 0.8rem;
    color: var(--cor-branco);
    width: 14rem;
}

.form__form .col-10 {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.prices {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem ;
}

.prices__container {
    display: flex;
    justify-content:center;
    gap: 1.5rem;
}

.prices__subtitle {
    margin-top: 2rem;
    color: var(--cor-primaria);
    font-weight: 900;
    font-size: 0.8rem;
    
}

.prices__title {
    color: var(--cor-full-preto);
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.container__card .card-body {
    background-color: var(--cor-secundaria);
    border: transparent;
    font-family: var(--font-primaria);
    font-size: 0.8rem;
    color: var(--cor-full-preto);
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    align-items: center;
}

.card-body h6 {
    background-color: var(--cor-primaria);
    font-size: 1.2rem;
    color: var(--cor-full-preto);
    font-weight: 700;
    padding: 0.9rem 0;
    margin-top: 0.8rem;
    width: 100%;
}

.card-body p {
    color: var(--cor-cinza);
}

.card-body a {
    text-decoration: none;
    color: var(--cor-branco);
    background-color: var(--cor-primaria);
    width: 6rem;
    padding: 0.4rem 0.5rem;
    font-size: 0.6rem;
}

.team {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
}

.team__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
}

.team__card {
    background-color: var(--cor-secundaria);
    padding-bottom: 1rem;
    border-bottom: solid var(--cor-primaria) 0.3rem;
}

.team__card img {
    width: 11.5rem;
}

.team__subtitle {
    margin-top: 2rem;
    color: var(--cor-primaria);
    font-weight: 900;
    font-size: 0.8rem;
}

.team__title {
    color: var(--cor-full-preto);
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.team__card h5 {
    font-size: 0.8rem;
    color: var(--cor-preta);
    font-weight: 700;
    margin-top: 0.8rem;
}

.team__card p {
    font-size: 0.6rem;
    color: var(--cor-cinza);
}

.blog {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
}

.blog__subtitle {
    margin-top: 2rem;
    color: var(--cor-primaria);
    font-weight: 900;
    font-size: 0.8rem;
}

.blog__title {
    color: var(--cor-full-preto);
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.blog__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.blog__container__card {
    width: 30%;
}

.container__img {
    width: 100%;
}

.container__body {
    background-color: var(--cor-secundaria);
    padding: 1.5rem 1.2rem;
    text-align: left;
}

.body__head, .head__user, .head__icon {
    display: flex;
    flex-direction: row;
}

.user__img {
    width: 1.5rem;
    height: 1.5rem;
}

.user__title {
    color: var(--cor-cinza);
    font-size: 0.8rem;
    margin-left: 0.5rem;
    font-weight: 400;
}

.head__icon {
    color: var(--cor-primaria);
    margin-left: 1rem;
    font-size: 0.8rem;
}

.head__icon p {
    color: var(--cor-cinza);
    font-weight: 400;
}

.body__head {
    position: relative;
}

.head__date {
    background-color: var(--cor-primaria);
    text-align: center;
    border-radius: 30px;
    height: 45px;
    width: 45px;
    position: absolute;
    top: -45px;
    right: 5px;
    display: flex;
    flex-direction: column;  
}

.head__date .month {
    color: var(--cor-branco);
    font-size: 0.6rem;
}

.head__date .day {
    color: var(--cor-full-preto);
    font-size: 1rem;
    font-weight: 800;
    margin: auto;
}

.container__body .card-title {
    color: var(--cor-preta);
    font-family: var(--font-primaria);
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.8rem;
}

.container__body .card-text {
    color: var(--cor-cinza);
    font-size: 0.8rem;
    text-align: left;
    margin-bottom: 0.8rem;
}

.obotao {
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 0.8rem;
    margin: auto;
    border-bottom: solid 0.1rem var(--cor-primaria);
}

main {
    margin-bottom: 4rem;
}

footer {
    background-color: var(--cor-preta);
    color: var(--cor-branco);
}

.footer-1 {
    display: flex;
    flex-direction: row;
    padding: 4rem 2rem;
    justify-content: space-between;
}

.f-icon {
    display: flex;
    text-align: left;
    gap: 5%;    
}

.footer-1 h4 {
    color: var(--cor-primaria);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.f-1 {
    width: 30vw;
    margin-right: 10rem;
}

.f-1 p {
    font-size: 0.8rem;
}

.f-1 i {
    margin-right: 0.4rem;
}

.f-2 {
    width: 30vw;
    display: flex;
    flex-direction: column;

}

.f-2 a {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
    text-decoration: none;
    color: var(--cor-branco);
}