@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #FF4800;
    --cor-secundaria: #F2F2F4;
    --cor-branco: #fff;
    --cor-cinzaescuro: #343a40;
    --cor-laranja: #fd7e14;
    --cor-preta: #1f1f2e;
    --cor-cinza: #6c757d;

    --font-primaria: 'Poppins', sans-serif;
}

.body{
    background-color: var(--cor-branco);
}

.cabecalho {
    display: flex;
    background-color: var(--cor-branco);
    justify-content: space-between;
    align-items:center;
    padding: 0% 3%;
}

.bi {
    margin-right: 10px;
    width: 7%;
    height: 7%;
    color: var(--cor-primaria);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.cabecalho__titulo {
    font-weight: 900;
    font-family: var(--font-primaria);
    color: var(--cor-primaria);
}

.nav-item .nav-link {
    color: var(--cor-cinzaescuro);
    font-family: var(--font-primaria);
    font-weight: 600;
    font-size: 0.8rem;
}

.nav-item .nav-link:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    height: auto;
    transition: 1s;
}

.botao {
    background-color: var(--cor-primaria);
    color: var(--cor-branco);
    border: var(--cor-primaria) solid 1px;
    font-family: var(--font-primaria);
    padding: 5px 15px;
    font-size: 0.8rem;
}

.hero {
    background-image: url(imagens/header.jpg);
    background-size: cover;
    height: 21.5rem;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.hero__titulo3 {
    color: var(--cor-primaria);
    font-family: var(--font-primaria);
    font-size: 1.8rem;
    font-weight: 800;
    align-self: center;
    margin-top: 5%;
}

.hero__titulo1 {
    color: var(--cor-branco);
    font-family: var(--font-primaria);
    font-size: 3rem;
    font-weight: 800;
    align-self: center;
    margin-top: 1%;
}

.hero .hero__form {
    align-self: center;
    margin-top: 2%;
}

.btn-label {
    padding: 8px 15px ;
}

.form {
    display: flex;
    background-color: var(--cor-secundaria);
    margin-top: 2%;
}

.form__container {
    display: flex;
    width: 60%;
    margin: auto;
}

.form__card .card-body, .form__card .card-body .card {
    background-color: var(--cor-secundaria);
}

.cards {
    display: flex;
}

.cards .card {
    border: none;
    justify-content:space-between ;
}